
@{
    ViewBag.Title = "Raporlama";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!--<div class="panel-heading">
        Rezervasyon Raporları
    </div>
     /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart" style="height: 250px;"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<script>
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { month: '01', totalSales: 3432 },
            { month: '02', totalSales: 5345 },
            { month: '03', totalSales: 34525 },
            { month: '04', totalSales: 235432 },
            { month: '05', totalSales: 234 },
            { month: '06', totalSales: 45325 },
            { month: '07', totalSales: 23452 },
            { month: '08', totalSales: 3452 },
            { month: '09', totalSales: 2345 },
            { month: '10', totalSales: 645 },
            { month: '11', totalSales: 2346 },
            { month: '12', totalSales: 6434 }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'month',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['totalSales'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Toplam Satış ₺']
    });
</script>