
@{
    ViewBag.Title = "Yeni Cari Ekle";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bireysel Cari Bilgileri
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Cari Adı :</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Vergi Dairesi :</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Seçiniz</option>
                                <option value="0">Halkalı</option>
                                <option value="1">İkitelli</option>
                                <option value="2">K.Çekmece</option>
                                <option value="3">Bakırköy</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Vergi No :</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12"><h3>Adres :</h3></div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <textarea style="resize:none;" class="form-control" placeholder="Açık Adres" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Sokak" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Cadde" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Mahalle" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="İl" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="İlçe" type="text">
                        </div>
                    </div>
                    <div class="col-lg-12"><h3>İletişim :</h3></div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Telefon" maxlength="10" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Telefon" maxlength="10" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Faks" maxlength="10" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Eposta" maxlength="10" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Web Sitesi" maxlength="10" type="text">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <textarea style="resize:none;" placeholder="Not:" cols="4" maxlength="1000" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <button class="form-control btn btn-primary">Cari Ekle</button>
                    </div>
                    <div class="col-lg-6">
                        <button class="form-control btn btn-danger">Temizle</button>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->